.navbar {
    background-color: whitesmoke;
    border-radius: 30px 30px;
    padding: 20px !important;
}

.navbar-brand {
    text-decoration: none !important;
}

a {
    color: black !important;
    text-decoration: underline !important;
}

a:hover {
    color: darkgray !important;
}

a:active {
    color: gray !important;
}